---
- name: install samba
  pkgng:
    name: samba48
    state: present
  tags: samba, pkg

- name: installe smbldap-tools
  pkgng:
    name: smbldap-tools
    state: present
  tags: samba, pkg
  when: is_dc

- name: enable winbind
  lineinfile:
    dest: /etc/rc.conf
    line: 'winbindd_enable="YES"'
    regexp: '^winbindd_enable'
    state: present
  tags: samba, rc

