# {{ ansible_managed }}

{% for share in smb_group_shares | union(smb_shares) %}
[{{ share.name }}]
{%   for e,v in share.iteritems() %}
{%     if e != "name" %}
{{ e | regex_replace("_"," ") }} = {{ v }}
{%     endif %}
{%   endfor %}

{% endfor %}
