# {{ ansible_managed }}

{% for share in group_shares | union(shares) %}
{% if "cifs" in share and share.cifs %}
[{{ share.name }}]
  path = {{ share.path }}
{%   for e,v in share.smbparms.iteritems() %}
  {{ e }} = {{ v }}
{%   endfor %}

{% endif %}
{% endfor %}
