# {{ ansible_managed }}

{% for share in group_shares | union(shares) %}
[{{ share.name }}]
  path = {{ share.path }}
{%   for e,v in share.smbparms.iteritems() %}
  {{ e }} = {{ v }}
{%   endfor %}

{% endfor %}
