# {{ ansible_managed }}
slaveLDAP="{{ smb_ldapr_uri | default(smb_ldap_uri) | regex_replace("ldaps?://","") | regex_replace("[:/].*$","") }}"
slavePort="{% if smb_ldapr_uri | default(smb_ldap_uri) | regex_match(":[0-9]+") %}{{ smb_ldapr_uri | default(smb_ldap_uri) | regex_replace(":([0-9]+)","\\1") }}{% else %}{% if smb_ldapr_uri | default(smb_ldap_uri) | regex_match("^ldaps:","") %}636{% else %}389{% endif %}{% endif %}"

masterLDAP="{{ smb_ldap_uri | regex_replace("ldaps?://","") | regex_replace("[:/].*$","") }}"
masterPort="{% if smb_ldap_uri | regex_match(":[0-9]+") %}{{ smb_ldap_uri | regex_replace(":([0-9]+)","\\1") }}{% else %}{% if smb_ldap_uri | regex_match("^ldaps:","") %}636{% else %}389{% endif %}{% endif %}"

ldapTLS="{{ smb_ldap_tls | default("0") }}"

{% if x509_ca_file %}
verify="require"
cafile="{{ x509_ca_file }}"
{% else %}
verify="never"
cafile=""
{% endif %}

{% if x509_ldap_client_cert | default(False) and x509_ldap_client_key | default(False) %}
clientcert="{{ x509_ldap_client_cert }}"
clientkey="{{ x509_ldap_client_key }}"
{% else %}
clientcert=""
clientkey=""
{% endif %}

suffix="{{ smb_ldap_suffix }}"

usersdn="{{ smb_ldap_user_suffix }},{{ smb_ldap_suffix }}"
computersdn="{{ smb_ldap_machine_suffix }},{{ smb_ldap_suffix }}"
groupsdn="{{ smb_ldap_group_suffix }},{{ smb_ldap_suffix }}"
idmapdn="{% if smb_ldap_idmap_suffix %}{{ smb_ldap_idmap_suffix }},{% endif %}{{ smb_ldap_suffix }}"
sambaUnixIdPooldn="sambaDomainName={{ smb_domain }},{{ smb_ldap_suffix }}"

# Default scope
scope="{% if smb_ldap_scope | default(False) %}{{ smb_ldap_scope }}{% else %}sub{% endif %}"

# Unix password encryption (CRYPT, MD5, SMD5, SSHA, SHA, CLEARTEXT)
hash_encrypt="{% if smb_ldap_pwdhash %}{{ smb_ldap_pwdhash }}{% else %}SSHA{% endif %}"

{% if smb_ldap_salt_format %}
crypt_salt_format="{{ smb_ldap_salt_format }}"
{% endif %}

##############################################################################
# 
# Unix Accounts Configuration
# 
##############################################################################

# Login defs
# Default Login Shell
userLoginShell="{{ smbldap_loginshell | default("/bin/bash") }}"

# Home directory
# Ex: userHome="/home/%U"
userHome="{{ smbldap_userhome | default("/home/%U") }}"

# Default mode used for user homeDirectory
userHomeDirectoryMode="700"

# Gecos
userGecos="{{ smbldap_user_gecos | default("System User") }}"

# Default User (POSIX and Samba) GID
defaultUserGid="{{ smbldap_defuser_gid | default("513") }}"

# Default Computer (Samba) GID
defaultComputerGid="{{ smbldap_computer_gid | default("515") }}"

# Skel dir
skeletonDir="{{ smbldap_skeldir | default("/etc/skel") }}"

